PORT=5004
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=yaseen
DB_NAME=office_assistant
JWT_SECRET=your_jwt_secret_here
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_email_password
TITLE=Office Assistant
